/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--main-text-color);
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  /* max-inline-size: 696px; */
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.max_inline_size {
  max-inline-size: clamp(371px, 100vw, 696px);
  margin: 0 auto;
}

.header {
  margin: 101px auto 101px auto;
  /* max-inline-size: clamp(371px, 100vw, 696px); */
  border: 2px solid var(--main-text-color);
  /* Viewport Range min 375, max 1440; Target Values min 120, max 136. */
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) 0 23px;
  display: grid;
  gap: 20px;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

  .header__logo {
  /* Viewport Range min 375, max 1440; Target Values min 49, max 65. */
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  /* Viewport Range min 375, max 1440; Target Values min 14, max 23. */
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-weight: 400;
}

.theme-menu {
  justify-self: center;
  padding-block-start: 2px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  text-align: start;
  padding-inline-start: 21px;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  appearance: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--main-text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: calc(100% - 6px * 2);
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  color: var(--theme-light-accent-transparent);
  animation: moving-triangle 0.5s infinite ease-in-out alternate;
  inset-inline-start: -14px;
}

.main {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: var(--sub-font-family);
  width: 100%;
}

.cards-list {
  display: grid;
  gap: 51px;
}

.cards-list__item {
  display: grid;
  border: 2px solid var(--main-text-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px 4px;
  font-variation-settings: "wght" var(--main-font-bold-weight);
  font-size: var(--font-size);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-wrapper {
  position: relative;
  border-block-start: 2px solid var(--main-text-color);
  border-block-end: 2px solid var(--main-text-color);
}

.card__img-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-text-color);
  font-family: var(--accent-font, fantasy);
  font-variation-settings: "wght" var(--main-font-weight-accent);
  font-size: 14px;
  text-shadow: 1px 1px var(--shadow-text-color), -1px 1px var(--shadow-text-color), -1px -1px var(--shadow-text-color), 1px -1px var(--shadow-text-color);
  mix-blend-mode: hard-light;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3495rem + 0.3756vw, 1.6875rem);
}

@supports ((text-stroke: 1px var(--shadow-text-color)) or (-webkit-text-stroke: 1px var(--shadow-text-color))) {
  .card__img-label {
      -webkit-text-stroke: 1px var(--shadow-text-color);
      text-stroke: 1px var(--shadow-text-color);
      text-shadow: none;
  }
}

.card__content {
  display: grid;
  padding: 25px;
  gap: 27px;
  line-height: 1.16667;
}

.card__footer {
  display: flex;
  justify-content: end;
  padding: 25px 25px 20px;
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
}

.button {
  cursor: pointer;
}

.button__with_fill {
  position: relative;
  border: 2px solid var(--main-text-color);
  transition: box-shadow 0.3s ease;
  background: transparent;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  line-height: 0.9;
  block-size: 38px;
}

.button__text {
  position: relative;
  color: var(--button-hover-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.button__with_fill:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-text-color);
}

.button__with_fill:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button__with_fill::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: var(--main-text-color, #000000);
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.card__icon-button {
  border: none;
  background: transparent;
  padding-top: 1px;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-text-color);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.card__img-filter-brightness-invert-grayscale {
  filter: brightness(2) invert(1) grayscale(1);
}

.card__img-filter-brightness {
  filter: brightness(42%);
}

.card__img-filter-saturate {
  filter: saturate(800%);
}

.card__img-filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.card__img-filter-sepia {
  filter: sepia(80%);
}

.card__img-filter-sepia-contrast-brightness {
  filter: sepia(1) contrast(2) brightness(200%);
}

.card__img-filter-invert_brightness_saturate_hue-rotates {
  filter: invert(0.1) brightness(150%) saturate(60%) hue-rotate(870deg);
}

.card__img-filter-contrast-saturate-brightness {
  filter: contrast(125%) saturate(150%) brightness(320%);
  opacity: 0.8;
  box-shadow: 0 0 100px 30px #3F51B5 inset;
  z-index: -2;
}

.save__button-svg {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.save-button {   
  display: flex;
  margin: 0 auto 102px ;
  display: flex;
  justify-content: center;
  inline-size: 335px;
  block-size: 51px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 8px;
  color: var(--svg-floppy-color);
  background-color: var(--bg-color);
}

.dialog {
  flex-direction: column;
  font-family: var(--accent-font, fantasy);
  padding: 30px;
  gap: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  inline-size: clamp(18.5rem, 17.411rem + 5.446vw, 22.313rem);
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog[open] {
  display: flex;
}

.dialog__text {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  line-height: 150%;
}

.dialog__svg {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: normal;
}

.dialog__button {
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 17px;
  line-height: 90%;
  inline-size: 100%;
}

@media (width < 1024px) {

  .save-button {
    inline-size: 306px;
    block-size: 80px;
    display: flex;
    flex-direction: column;
  }

  .save__button-svg {
    inline-size: 30px;
    block-size: 30px;
  }

}