/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-variation-settings: var(--main-font-weight);
  /* font-variation-settings: "wght" var(--main-font-weight); */

  /* font-size: var(--font-size); */
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  /* Viewport Range min 375, max 1440; Target Values min 371, max 696. */
  inline-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  max-inline-size: 696px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  margin: 102px 0;
  border: 2px solid var(--main-text-color);
  /* Viewport Range min 667, max 690; Target Values min 120, max 136. */  
  padding: clamp(7.5rem, 5.224rem + 5.461vw, 8.5rem) 0 25px;
  /* padding: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px; */
  /* margin: 102px auto; */
  display: grid;
  gap: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
  /* font-weight: 400; */
}

.header__title-accent {
  /* font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); */
  /* Viewport Range min 375, max 1440; Target Values min 49, max 65. */  
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  display: grid;
    gap: 20px;
  /* Viewport Range min 375, max 1440; Target Values min 14, max 23. */ 
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-weight: 400;
}

.theme-menu {
  justify-self: center;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  text-align: start;
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  appearance: none;
  background-color: transparent;
 /*  font-family: var(--main-font-family);
  transform: translateX(3px); */
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  /* position: relative; */
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  color: var(--theme-light-accent-transparent);
  animation: moving 0.5s infinite ease-in-out reverse;
  inset-inline-start: -20px;
}

/* ▶ */

.main {
  display: grid;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  gap: 50px;
}

.card-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: var(--sub-font-family);
  max-width: 696px;
  width: 100%;
}

.cards-list__item {
  display: grid;
  border: 2px solid var(--main-text-color);
  background-color: var(--bg-color);
}

.card__title {
  /* border-block-end: 2px solid var(--main-text-color); */
  padding: 4px 10px 8px;
  font-variation-settings: var(--main-font-bold-weight);
  
  font-size: var(--font-size);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-wrapper {
  position: relative;
  border-block-start: 2px solid var(--main-text-color);
  border-block-end: 2px solid var(--main-text-color);

  /* outline: 2px solid var(--main-text-color); */
  /* outline-offset: -1px; */
}

.card__img-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  /* text-shadow:
    1px 0 0 var(--bg-color),
    1px 0 0 var(--bg-color,
    0 1px 0 var(--bg-color),
    0 1px 0 var(--bg-color),
    -1px 0 0 var(--bg-color),
    -1px 0 0 var(--bg-color),
    0 -1px 0 var(--bg-color),
    0 -1px 0 var(--bg-color); */
  mix-blend-mode: hard-light;
  /* inset-inline-end: 10px;
  inset-block-start: 20px; */
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3495rem + 0.3756vw, 1.6875rem);
}

@supports (
  (text-stroke: 1px var(--shadow-text-color)) or
    (-webkit-text-stroke: 1px var(--shadow-text-color))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-text-color);
  }
}

/* @supports ( (text-stroke: 1px var(--shadow-text-color)) or (-webkit-text-stroke: 1px var(--shadow-text-color)) )
.card__img-label {
    -webkit-text-stroke: 1px var(--shadow-text-color);
    text-stroke: 1px var(--shadow-text-color);
    text-shadow: none;
} */


.card__content {
  display: grid;
  padding: 25px;
  gap: 27px;
  line-height: 1.16667;
}