/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-variation-settings: var(--main-font-weight);
  /* font-variation-settings: "wght" var(--main-font-weight); */
  /* font-size: var(--font-size); */
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  /* Viewport Range min 375/320, max 1440; Target Values min 371, max 696. */
  /* inline-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem); */
  inline-size: clamp(20rem, -59.908rem + 344.615vw, 90rem);
  max-inline-size: 696px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /* overflow-x: hidden; */
}

.header {
  margin: 102px 0;
  border: 2px solid var(--main-text-color);
  /* Viewport Range min 667, max 690; Target Values min 120, max 136. */
  padding: clamp(7.5rem, 5.224rem + 5.461vw, 8.5rem) 0 25px;
  /* padding: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px; */
  /* margin: 102px auto; */
  display: grid;
  gap: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color);
  /* font-weight: 400; */
}

.header__title-accent {
  /* font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); */
  /* Viewport Range min 375, max 1440; Target Values min 49, max 65. */
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  display: grid;
  gap: 20px;
  /* Viewport Range min 375, max 1440; Target Values min 14, max 23. */
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-weight: 400;
}

.theme-menu {
  justify-self: center;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  text-align: start;
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  appearance: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
 /*  font-family: var(--main-font-family);
  transform: translateX(3px); */
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  position: absolute;
  /* background: currentColor; */
  background-color: var(--main-text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: calc(100% - 6px * 2);
  block-size: 2px;
}


.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;

}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;

}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  color: var(--theme-light-accent-transparent);
  animation: moving-triangle 0.5s infinite ease-in-out alternate;
  inset-inline-start: -14px;
}

/* ▶ */

.main {
  display: grid;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  gap: 50px;
}

.card-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-family: var(--sub-font-family);
  max-width: 696px;
  width: 100%;
}

.cards-list {
  display: grid;
  gap: 54px;
}

.cards-list__item {
  display: grid;
  border: 2px solid var(--main-text-color);
  background-color: var(--bg-color);
}

.card__title {
  /* border-block-end: 2px solid var(--main-text-color); */
  padding: 4px 10px 8px;
  font-variation-settings: var(--main-font-bold-weight);
  
  font-size: var(--font-size);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-wrapper {
  position: relative;
  border-block-start: 2px solid var(--main-text-color);
  border-block-end: 2px solid var(--main-text-color);
}

.card__img-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-text-color);
  font-family: var(--accent-font), sans-serif;
  font-variation-settings: var(--main-font-weight-accent);
  font-size: 14px;
  text-shadow: 1px 1px var(--shadow-text-color), -1px 1px var(--shadow-text-color), -1px -1px var(--shadow-text-color), 1px -1px var(--shadow-text-color);
  mix-blend-mode: hard-light;
  /* inset-inline-end: 10px;
  inset-block-start: 20px; */
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3495rem + 0.3756vw, 1.6875rem);
}

@supports ((text-stroke: 1px var(--shadow-text-color)) or (-webkit-text-stroke: 1px var(--shadow-text-color))) {
  .card__img-label {
      -webkit-text-stroke: 1px var(--shadow-text-color);
      text-stroke: 1px var(--shadow-text-color);
      text-shadow: none;
  }
}

/* @supports (
  (text-stroke: 1px var(--shadow-text-color)) or
    (-webkit-text-stroke: 1px var(--shadow-text-color))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-text-color);
  }
} */

/* @supports ( (text-stroke: 1px var(--shadow-text-color)) or (-webkit-text-stroke: 1px var(--shadow-text-color)) )
.card__img-label {
    -webkit-text-stroke: 1px var(--shadow-text-color);
    text-stroke: 1px var(--shadow-text-color);
    text-shadow: none;
} */


.card__content {
  display: grid;
  padding: 25px;
  gap: 27px;
  line-height: 1.16667;
}

.card__footer {
  display: flex;
  justify-content: end;
  /* align-items: stretch; */
  gap: 12px;
  padding: 25px 25px 25px;
}

/* .button {

} */


.card__like-button {
  /* position: relative; */
  padding: 9px 17px;
  min-inline-size: 130px;
  /* min-block-size: 38px; */
}

.button__with_fill {
  /* overflow: hidden; */
  position: relative;
  border: 2px solid var(--main-text-color);
  transition: box-shadow 0.3s ease;
  background: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  min-block-size: 38px;
}

.button__text {
  position: relative;
  color: var(--button-hover-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.button__with_fill:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-text-color);
}

/* .button__with_fill::before {
  transform: scaleX(0);
  transform-origin: bottom left;
} */

.button__with_fill:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button__with_fill::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  background: var(--main-text-color, #000000);
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.card__icon-button {
  border: none;
  background: transparent;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-text-color);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon .like-icon__core {
  fill: var(--bg-color, #ffffff);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .like-icon__core {
  fill: var(--heart-contour-color, #000000);
  transition: fill 0.3s linear;
}

.like-icon .like-icon__main-body {
  fill: var(--bg-color, #ffffff);
  transition: fill 0.3s linear;
}

.like-icon:hover .like-icon__main-body {
  fill: var(--heart-contour-color, #000000);
  /* transition: fill 1.3s linear 0.05s; */
  transition: fill 0.3s 0.05s linear;
}

.like-icon .like-icon__contour {
  fill: var(--heart-contour-color, #000000);
  transition: 0.1s linear;
}

.like-icon:active .like-icon__core {
  fill: var(--heart-fill-color, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon:active .like-icon__main-body {
  fill: var(--heart-fill-color, #FF0000);
  /* transition: fill 1.3s linear 0.05s; */
  transition: fill 0.3s 0.05s linear;
}

/* .like-icon.is-liked .like-icon__core {
  fill: var(--heart-fill-color, #FF0000);
  transition: fill 0.3s 0.03s linear;
}
*/


.like-icon.is-liked .like-icon__core {
  fill: var(--heart-fill-color, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .like-icon__main-body {
  fill: var(--heart-fill-color, #FF0000);
  /* transition: fill 1.3s linear 0.05s; */
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--heart-fill-color, #FF0000);
  /* transition: fill 1.3s linear 0.05s; */
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .like-icon__heart {
  transform-origin: center;
  animation: scaling-heard 0.3s 0.1s ease-in alternate 1;
} 

.like-icon.is-liked .like-icon__sparks {
  transform-origin: center;
  animation: sparking 0.3s 0.3s ease-in alternate 1;
} 


.card__img-filter-brightness-invert-grayscale {
  filter: brightness(2) invert(1) grayscale(1);
}

.card__img-filter-brightness {
  filter: brightness(42%);
  /* filter: blur(0.2rem); */
}

.card__img-filter-saturate {
  filter: saturate(800%);
}

.card__img-filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.card__img-filter-sepia {
  filter: sepia(80%);
}

.card__img-filter-sepia-contrast-brightness {
  filter: sepia(1) contrast(2) brightness(200%);
}

.card__img-filter-invert_brightness_saturate_hue-rotates {
  filter: invert(0.1) brightness(150%) saturate(60%) hue-rotate(870deg);
}

/* .card__img-filter-contrast-saturate-brightness {
  filter: contrast(20%) saturate(800%) brightness(150%);
  box-shadow: inset 0 0 30px 30px rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 2;
} */

.card__img-filter-contrast-saturate-brightness {
  /* position: absolute; */
  filter: contrast(125%) saturate(150%) brightness(320%);
  opacity: 0.8;
  box-shadow: 0 0 100px 30px #3F51B5 inset;
  z-index: -2;
}

.card__img-wrapper::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgb(var(--gradient-for-label) / 1),
    rgb(var(--gradient-for-label) / 0.6) 5%,
    rgb(var(--gradient-for-label) / 0) 25%,
    rgb(var(--gradient-for-label) / 0) 100%
  );
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  margin-bottom: 102px;
  display: flex;
  justify-content: center;
  /* background-color: var(--bg-color);   */
  /* background-color: transparent; */
}

.save__button-svg {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.footer__save-button {
  display: flex;
  /* margin: 0 0 102px; */
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* display: flex; */
  gap: 8px;
  padding: 15px 20px;
  color: var(--svg-floppy-color);
  background-color: var(--bg-color);
}

.dialog {
  position: fixed;
  z-index: 1;
  inset: 0;
  font-family: var(--accent-font);
  padding: 30px;
  gap: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  inline-size: 357px;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog[open] {
  display: grid;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__text {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  line-height: 150%;
}

.dialog__svg {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: normal;
}

.dialog__button {
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 17px;
  line-height: 90%;
  inline-size: 100%;
}

@media (width < 1024px) {

  .footer__save-button {
    display: flex;
    flex-direction: column;
  }

  .dialog {
    inline-size: 341px;
  }

}